@media screen and (max-width: 1170px) {
  .container {
    width: 1100px;
  }
  .pizza-block-nav-left {
    left: -140px;
  }
  .pizza-block-nav-right {
    right: -140px;
  }
  .block-snacks {
    width: 870px;
  }
  .block-snacks-carousel {
    width: 870px;
    margin: 0 auto;
  }
  .block-snacks .owl-dots .owl-dot:nth-child(3) {
    margin-right: 8px;
  }
  .block-drinks-carousel {
    width: 670px;
  }
}

@media screen and (max-width: 1110px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .block-snacks {
    padding-right: 0;
    padding-left: 0;
  }
  .owl-prev {
    margin-left: -75px;
  }
  .owl-next {
    margin-right: -75px;
  }
  .block-drinks-carousel .owl-prev {
    margin-left: -120px;
  }
  .block-drinks-carousel .owl-next {
    margin-right: -120px;
  }
  .input-size {
    width: 300px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    width: 1050px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav__item {
    font-size: 12px;
    margin-right: 25px;
  }
  .owl-prev {
    margin-left: -65px;
  }
  .owl-next {
    margin-right: -65px;
  }
  .pizza-block-nav-left {
    left: -115px;
  }
  .pizza-block-nav-right {
    right: -115px;
  }
  .input-size {
    width: 295px;
  }
  .order-block {
    margin-left: 15px;
  }
  .footer-container__inst-block {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    width: 1000px;
  }
  .nav__item {
    font-size: 12px;
  }
  .block-pizza-carousel {
    width: 910px;
  }
  .owl-prev {
    margin-left: -45px;
  }
  .owl-next {
    margin-right: -45px;
  }
  .pizza-block-nav-left {
    left: -99px;
  }
  .pizza-block-nav-right {
    right: -99px;
  }
  .addrtime-block-col {
    width: 580px;
  }
  .input-size {
    width: 280px;
  }
  .order-block {
    width: 370px;
  }
  .footer-container__order-nav-block {
    margin-left: 30px;
  }
  .footer-container__inst-block {
    margin-left: 40px;
  }
  .footer-container__social-block {
    margin-left: 25px;
  }
}

@media screen and (max-width: 1001px) {
  .container {
    width: 980px;
  }
  .nav__item {
    font-size: 12px;
  }
  .owl-prev {
    margin-left: -45px;
  }
  .owl-next {
    margin-right: -45px;
  }
  .footer-container__order-nav-block {
    margin-left: 15px;
  }
  .footer-container__inst-block {
    margin-left: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 768px;
    padding-left: 0;
    padding-right: 0;
  }
  .header-block {
    height: 80px;
    line-height: 0;
  }
  .header-block .container {
    height: 100%;
  }
  .header-block__main {
    height: 100%;
  }
  .hamburger {
    display: block;
  }
  .header-block__main .header-block__nav {
    display: none;
  }
  .block-phone__text {
    text-align: center;
  }
  .offer-block__item {
    width: 768px;
    margin: 0 auto;
  }
  .right-col__pizza-img {
    height: 430px;
    top: 75px;
  }
  .offer-main-block {
    top: 100px;
    margin-left: -384px;
  }
  .offer-block {
    width: 768px;
  }
  .offer-block .owl-nav {
    display: none;
  }
  .offer-main-block .owl-dots {
    margin-top: 0px;
    text-align: center;
  }
  .offer-main-block .owl-dots .owl-dot.active {
    background-color: #c59d5f;
    opacity: 1;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .offer-main-block .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c59d5f;
    opacity: 0.4;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .offer-main-block .owl-dots .owl-dot:nth-child(2) {
    margin: 0 8px;
  }
  .block-pizza {
    width: 755px;
  }
  .block-pizza .owl-dots {
    width: 610px;
  }
  .block-pizza .owl-dots .owl-dot {
    margin-right: 8px;
  }
  .block-pizza .owl-dots .owl-dot:nth-child(2) {
    margin-left: 0;
  }
  .block-pizza-carousel {
    width: 605px;
  }
  .pizza-block-nav-left {
    left: -125px;
  }
  .pizza-block-nav-right {
    right: -125px;
  }
  .block-snacks-carousel {
    width: 615px;
  }
  .block-snacks .owl-dots {
    margin-top: 80px;
  }
  .block-snacks .owl-dots .owl-dot {
    margin-right: 8px;
  }
  .block-snacks .owl-dots .owl-dot:nth-child(2) {
    margin-left: 0;
  }
  .block-drinks-carousel {
    width: 590px;
  }
  .block-drinks-carousel .owl-prev {
    margin-left: -80px;
  }
  .block-drinks-carousel .owl-next {
    margin-right: -80px;
  }
  .addrtime-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .addrtime-block-col {
    text-align: center;
    margin: 0 auto;
  }
  .order-block {
    margin: 50px auto;
    width: 500px;
  }
  .footer {
    height: 100%;
    padding-bottom: 80px;
  }
  .footer-container {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-container__block-contacts {
    margin: 0 0 0 50px;
  }
  .footer-container__order-nav-block {
    margin: 0 0 0 200px;
  }
  .footer-container__inst-block {
    margin: 70px 0 0 50px;
  }
  .footer-container__social-block {
    margin: 70px 0 0 68px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 560px;
  }
  header {
    height: 800px;
  }
  .offer-main-block {
    width: 560px;
    margin-left: -280px;
  }
  .offer-block {
    width: 560px;
  }
  .offer-block__item {
    width: 560px;
    height: 480px;
  }
  .right-col__pizza-img {
    height: 300px;
    top: 125px;
  }
  .left-col__title {
    font-size: 38px;
  }
  .block-pizza {
    overflow: visible;
    height: 975px;
  }
  .block-pizza-carousel {
    width: 560px;
  }
  .block-pizza-item__price {
    width: 125px;
  }
  .block-pizza-item {
    width: 275px;
  }
  .block-pizza-item__opt {
    margin-left: 0;
  }
  .block-pizza-item__diam2 {
    margin-right: 12px;
  }
  .block-pizza .owl-dots {
    width: 560px;
    margin-top: 55px;
  }
  .block-pizza-item__block-img {
    width: 250px;
  }
  .pizza-block-nav-right,
  .pizza-block-nav-left {
    display: none;
  }
  .block-snacks-carousel {
    width: 560px;
  }
  .section-desc {
    width: 560px;
    font-size: 17px;
  }
  .block-snacks .owl-dots {
    margin-top: 60px;
  }
  .block-drinks-carousel {
    width: 560px;
  }
  .block-drinks .owl-dots {
    margin-top: 0px;
    text-align: center;
  }
  .block-drinks .owl-dots .owl-dot.active {
    background-color: #c59d5f;
    opacity: 1;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .block-drinks .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c59d5f;
    opacity: 0.4;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0 4px;
  }
  .addrtime-block-col {
    width: 560px;
  }
  .input-size {
    width: 275px;
  }
  .footer-container__block-contacts {
    margin-left: 10px;
  }
  .footer-container__order-nav-block {
    margin-left: 140px;
  }
  .footer-container__inst-block {
    margin-left: 10px;
  }
  .footer-container__social-block {
    margin-left: 20px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    width: 411px;
  }
  header {
    height: 950px;
  }
  .mob-menu {
    padding-left: 50px;
  }
  .block-phone__phone span {
    font-size: 20px;
  }
  .offer-block__item {
    width: 411px;
    height: 650px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-col__title {
    width: 300px;
  }
  .left-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 250px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .right-col__pizza-img {
    top: 20px;
    right: 63px;
  }
  .offer-main-block {
    width: 411px;
    margin-left: -205px;
  }
  .offer-block {
    width: 411px;
  }
  .offer-main-block .owl-dots {
    margin-top: 15px;
  }
  .block-pizza-carousel {
    width: 411px;
  }
  .block-pizza .owl-dots {
    width: 411px;
  }
  .block-pizza-item {
    width: 390px;
    padding-left: 10px;
  }
  .block-pizza-item__block-img {
    width: 390px;
  }
  .block-pizza-item__diam1 {
    margin-left: 10px;
  }
  .block-pizza-item__diam2 {
    margin-right: 25px;
  }
  .section-desc {
    width: 400px;
  }
  .block-snacks-carousel {
    width: 380px;
  }
  .block-snacks-item {
    width: 380px;
  }
  .block-snacks-item__img {
    height: 210px;
  }
  .block-snacks-item__circle {
    top: -46px;
  }
  .block-drinks-carousel {
    width: 411px;
  }
  .section-desc--black {
    margin-bottom: 50px;
  }
  .delpay-block {
    padding: 55px 0 0 0;
  }
  .section-desc {
    margin-bottom: 38px;
  }
  .addrtime-block {
    padding-top: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addrtime-block-col {
    height: auto;
    width: 411px;
  }
  .form {
    padding: 0 15px;
  }
  .form-group {
    width: 100%;
  }
  .input-size {
    width: 100%;
  }
  .order-block {
    width: 409px;
  }
  .order-block__inner-block {
    width: 380px;
  }
  .footer-container__order-nav-block {
    margin-top: 65px;
    margin-left: 10px;
  }
  .footer-container {
    padding-top: 60px;
  }
  .block-contacts__desc {
    margin-bottom: 20px;
  }
  .nav__list--footer-column {
    margin-bottom: 20px;
  }
  .footer {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 411px) {
  .container {
    width: 360px;
  }
  .mob-menu {
    padding-left: 40px;
  }
  .logo {
    width: 100px;
    height: 40px;
    margin-left: 10px;
  }
  .tomate-cirlce {
    width: 30px;
    height: 30px;
    line-height: 40px;
    margin-top: 8px;
  }
  .tomate {
    width: 30px;
    height: 20px;
    vertical-align: baseline;
  }
  .logo-text,
  .pizza-gold {
    font-size: 19px;
  }
  .block-phone {
    margin-left: 10px;
  }
  .block-phone__phone {
    width: 165px;
  }
  .block-phone__text {
    display: none;
  }
  .block-phone__phone .fa-phone {
    display: none;
  }
  .offer-main-block {
    width: 360px;
    margin-left: -180px;
  }
  .offer-block {
    width: 360px;
  }
  .offer-block__item {
    width: 360px;
  }
  .right-col__pizza-img {
    right: 42px;
  }
  .block-pizza-carousel {
    width: 350px;
  }
  .block-pizza-item {
    width: 350px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .block-pizza-item__block-img {
    width: 340px;
  }
  .block-pizza .owl-dots {
    width: 350px;
  }
  .section-desc {
    width: 350px;
  }
  .block-snacks-carousel {
    width: 360px;
  }
  .block-snacks-item {
    width: 340px;
    margin-left: 10px;
  }
  .block-drinks-carousel {
    width: 360px;
  }
  .block-drinks-item {
    width: 170px;
  }
  .addrtime-block-col {
    width: 360px;
  }
  .section-title {
    line-height: 33px;
  }
  .order-block {
    width: 350px;
    height: 550px;
  }
  .order-block__inner-block {
    width: 340px;
  }
  .inst-block__imgs {
    width: 270px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 320px;
  }
  .logo {
    margin-left: 5px;
  }
  .block-phone__phone {
    font-size: 13px;
    width: 140px;
  }
  .block-pizza-carousel {
    width: 320px;
  }
  .block-pizza-item__block-img {
    width: 308px;
  }
  .block-pizza-item__title,
  .block-pizza-item__desc,
  .block-pizza-item__ing {
    width: 300px;
  }
  .block-pizza .owl-dots {
    width: 320px;
  }
  .section-desc {
    width: 310px;
  }
  .block-snacks-carousel {
    width: 320px;
  }
  .block-snacks-item {
    width: 310px;
    margin-left: 5px;
  }
  .block-drinks-carousel {
    width: 322px;
  }
  .addrtime-block-col {
    width: 320px;
  }
  .order-block {
    width: 310px;
  }
  .order-block__inner-block {
    width: 300px;
  }
  .order-block__btn,
  .order-block__bnt-reset {
    width: 140px;
  }
  .inner-block__order-list {
    width: 270px;
  }
  .footer {
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=media.css.map */