/* MAIN */
* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

body {
  background-color: #f4f4f4;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* HEADER */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 50px;
}

.tomate-cirlce {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #94774a;
  text-align: center;
  line-height: 47px;
}

.tomate {
  width: 38px;
  height: 34px;
  vertical-align: middle;
}

.logo-text {
  display: block;
  width: 70px;
  height: 50px;
  font-size: 23px;
  color: #fff;
  font-family: 'Nautilus Pompilius';
  line-height: 1.1em;
  font-style: italic;
  text-align: center;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  font-weight: 400;
}

.pizza-gold {
  font-size: 23px;
  color: #c59d5f;
  font-family: 'Nautilus Pompilius';
  font-style: italic;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 860px;
  background: url("../img/header/bg.jpg") no-repeat center center/cover;
}

.header-block {
  width: 100vw;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.35);
  line-height: 120px;
}

.header-block__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-right: 45px;
  -webkit-transition: .1s;
  transition: .1s;
}

.nav__item span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 16.5px;
  margin-right: 8px;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav__item:hover {
  color: #c59d5f;
}

.nav__item:hover span {
  color: #1a1208;
  background-color: #94774a;
  -webkit-transition: .2s;
  transition: .2s;
}

.logo {
  width: 133px;
  height: 50px;
}

.block-phone {
  text-align: end;
}

.block-phone__text {
  opacity: 0.35;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.68px;
  text-align: right;
}

.block-phone__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 193px;
  height: 22px;
  color: #fff;
  font-family: "Roboto+Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  white-space: pre;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.block-phone__phone span {
  display: block;
  font-family: "Roboto+Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.block-phone__phone:hover {
  color: #c59d5f;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav__arrow {
  color: #fff;
  font-family: "Font Awesome";
  font-weight: 400;
  line-height: 22px;
  padding-left: 2px;
}

.fa-chevron-right--nav {
  font-size: 10px;
  opacity: 0.35;
}

.fa-phone {
  font-size: 14px;
  color: #c59d5f;
  line-height: 22px;
  margin-right: 3px;
}

ul li {
  display: block;
}

.offer-main-block {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -455px;
}

.offer-block {
  width: 910px;
}

.offer-block__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 910px;
  height: 550px;
}

.left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-col__title {
  width: 348px;
  color: #ffffff;
  font-family: "1Isadora M";
  font-size: 52px;
  font-weight: 400;
  line-height: 56px;
  margin: 75px 0 20px 0;
}

.left-col__text {
  width: 259px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 39px;
}

.btn {
  display: inline-block;
  width: 165px;
  height: 46px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  background-color: #c59d5f;
  text-align: center;
  line-height: 46px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:hover {
  background-color: #94774a;
  -webkit-transition: .2s;
  transition: .2s;
}

.fa-check {
  font-size: 12px;
  margin-right: 8px;
}

.right-col__pizza-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 650px;
  height: 540px;
}

/* OWL Header */
.owl-carousel .owl-item img {
  width: auto;
}

.offer-block .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -280px;
}

.owl-prev i {
  padding-right: 3px;
}

.owl-prev {
  margin-left: -105px;
}

.owl-next i {
  padding-left: 3px;
}

.owl-next {
  margin-right: -105px;
}

.owl-prev i,
.owl-next i {
  display: inline-block;
  color: #ffffff;
  opacity: 0.2;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  -webkit-transition: .2s;
  transition: .2s;
}

.owl-prev i:hover,
.owl-next i:hover {
  background-color: rgba(197, 157, 95, 0.2);
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: .2s;
}

/* SECTION PIZZA */
.section-pizza {
  position: relative;
}

.block-pizza {
  overflow: hidden;
  height: 990px;
  background-color: #fff;
  text-align: center;
  padding: 81px 0 0 0;
  margin-top: -100px;
}

.section-title {
  display: inline-block;
  color: #151515;
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
  text-transform: uppercase;
}

.arrows-down {
  display: inline-block;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 58px;
  height: 58px;
  background-color: #c59d5f;
  border-radius: 50%;
  text-align: center;
  line-height: 66px;
  margin: 0 0 0 -29px;
  z-index: 45;
}

.fa-angle-double-down {
  font-size: 25px;
  color: #fffefe;
}

/* pizza-block-carousel */
.block-pizza-carousel {
  width: 935px;
  height: 700px;
  margin: 58px auto 0;
}

.block-pizza-item {
  width: 295px;
  height: auto;
  text-align: left;
}

.block-pizza-item__block-img {
  width: 295px;
  height: 358px;
  background: url("../img/pizza-block/pizza-flour-img.jpg") no-repeat center center/cover;
  padding: 44px 0 0 0;
}

.block-pizza-item__pic {
  width: 205px;
  height: 204px;
  margin: 0 auto;
}

.block-pizza-item__opt {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 27px 0 0 35px;
}

.block-pizza-item__diam1 {
  width: 45px;
  height: 45px;
  color: #ffffff;
  border-radius: 50%;
  border: 5px solid #c59d5f;
  text-align: center;
  line-height: 37px;
  margin-right: 13px;
  cursor: pointer;
}

.block-pizza-item__diam1:hover {
  background-color: #94774a;
}

.block-pizza-item__diam2 {
  width: 55px;
  height: 55px;
  color: #ffffff;
  border-radius: 50%;
  border: 6px solid #c59d5f;
  text-align: center;
  line-height: 47px;
  margin-right: 26px;
  cursor: pointer;
}

.block-pizza-item__diam2:hover {
  background-color: #94774a;
}

.diam1 {
  display: inline-block;
  color: #ffffff;
  font-family: "Roboto+Condensed", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18.11px;
  text-transform: uppercase;
}

.diam2 {
  display: inline-block;
  color: #ffffff;
  font-family: "Roboto+Condensed", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 21.94px;
  text-transform: uppercase;
}

.block-pizza-item__price {
  width: 136px;
  height: 45px;
  background-color: #c59d5f;
  text-align: center;
  line-height: 45px;
}

.pizza-price {
  color: #fff;
  font-family: "Roboto+Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.pizza-price__money {
  font-size: 20px;
  line-height: 22px;
}

.block-pizza-item__title {
  color: #151515;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border-bottom: 1px solid #c59d5f;
  margin: 30px 0 0 0;
  padding: 0 0 18px 0;
}

.block-pizza-item__desc {
  display: inline-block;
  color: #151515;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0 15px 0;
}

.block-pizza-item__ing {
  display: inline-block;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 30px 0;
}

.ing__grey {
  font-size: inherit;
  font-weight: 700;
}

/* NAV pizza block */
.pizza-block-nav {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  background-color: #c59d5f;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 5;
}

.pizza-block-nav:hover {
  background-color: #94774a;
  -webkit-transition: .2s;
  transition: .2s;
}

.pizza-block-nav__arrow-left,
.pizza-block-nav__arrow-right {
  font-size: 25px;
  color: #fff;
}

.pizza-block-nav-left {
  top: 130px;
  left: -155px;
}

.pizza-block-nav-right {
  top: 130px;
  right: -155px;
}

.pizza-block-nav__arrow-left {
  margin: 38px 0 0 45px;
}

.pizza-block-nav__arrow-right {
  margin: 38px 45px 0 0;
}

/* DOTS pizza-block */
.block-pizza .owl-dots {
  margin-top: 25px;
}

.block-pizza .owl-dots .owl-dot.active {
  background-color: #c59d5f;
  opacity: 1;
  -webkit-transition: .2s;
  transition: .2s;
}

.block-pizza .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #c59d5f;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: .2s;
}

.block-pizza .owl-dots .owl-dot:nth-child(2) {
  margin: 0 8px;
}

/* SNACKS */
.section-snacks {
  position: relative;
  height: 875px;
  background: url("../img/snacks/bg.jpg") no-repeat center center/cover;
}

.block-snacks {
  text-align: center;
  padding: 81px 0 0 0;
}

.section-title--white {
  color: #fff;
}

.section-desc {
  width: 600px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 38px auto 60px;
}

.block-snacks-carousel {
  width: 1140px;
  height: 440px;
}

.block-snacks-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 263px;
  height: 440px;
  background-color: #fff;
}

.block-snacks-item__img {
  width: 263px;
  height: 178px;
  background: url("../img/snacks/01.jpg") no-repeat center center/cover;
}

.block-snacks-item__circle {
  position: relative;
  top: -52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #c59d5f;
}

.circle__opt {
  display: block;
  color: #fffefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.circle__opt span {
  font-size: 12px;
  font-weight: 700;
}

.block-snacks-item__title {
  display: block;
  color: #151515;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: -60px;
}

.block-snacks-item__offer {
  display: inline-block;
  width: 189px;
  color: #151515;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
}

.block-snacks-item__ing {
  display: inline-block;
  width: 204px;
  color: #151515;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.block-snacks-item__ing span {
  font-size: inherit;
  font-weight: 700;
}

.block-snacks-item__btn {
  width: 100%;
  height: 46px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  background-color: #c59d5f;
  text-align: center;
  line-height: 46px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.block-snacks-item__btn:hover {
  background-color: #94774a;
  -webkit-transition: .2s;
  transition: .2s;
}

/* NAV block-snacks */
.block-snacks-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -233px;
}

.block-snacks-carousel .owl-prev {
  margin-left: -60px;
}

.block-snacks-carousel .owl-next {
  margin-right: -60px;
}

/* DOTS block-snacks */
.block-snacks .owl-dots {
  margin-top: 250px;
}

.block-snacks .owl-dots .owl-dot.active {
  background-color: #c59d5f;
  opacity: 1;
  -webkit-transition: .2s;
  transition: .2s;
}

.block-snacks .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #c59d5f;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: .2s;
}

.block-snacks .owl-dots .owl-dot:nth-child(2) {
  margin: 0 8px;
}

/* DRINKS */
.section-drinks {
  position: relative;
  height: 830px;
  background-color: inherit;
}

.section-desc--black {
  color: #333;
  margin-bottom: 100px;
}

.block-drinks {
  text-align: center;
  padding: 81px 0 0 0;
}

.block-drinks-carousel {
  width: 730px;
  height: 460px;
  margin: 0 auto;
}

.block-drinks-item {
  width: 204px;
  height: auto;
}

.block-drinks-item__img {
  width: 85px;
  height: 273px;
  margin: 0 auto;
}

.block-drinks-item__title {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 55px 0 10px 0;
}

.block-drinks-item__price {
  color: #999;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.98px;
  margin: 0 0 23px 0;
}

.btn__block-drinks-item {
  width: 100%;
  height: 46px;
  font-size: 14px;
  line-height: 46px;
}

/* OWL block-drinks */
.block-drinks-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -320px;
}

.block-drinks-carousel .owl-prev {
  margin-left: -195px;
}

.block-drinks-carousel .owl-next {
  margin-right: -195px;
}

.block-drinks-carousel .fa-chevron-left,
.block-drinks-carousel .fa-chevron-right {
  color: #000;
}

.block-drinks-carousel .fa-chevron-left:hover,
.block-drinks-carousel .fa-chevron-right:hover {
  background-color: #c59d5f;
  opacity: .65;
}

.block-drinks-carousel .owl-item {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .5s;
  transition: .5s;
}

.block-drinks-carousel .owl-item.active.center {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s;
  transition: .5s;
}

/* DEL AND PAY */
.section-delpay {
  position: relative;
  height: 290px;
  background: url("../img/delpay/bg.jpg") no-repeat center center/cover;
}

.delpay-block {
  text-align: center;
  padding: 91px 0 69px 0;
}

.delpay-block .section-desc {
  margin-top: 30px;
}

/* ADDR AND TIME */
.addrtime-block {
  padding: 80px 0 0 0;
}

.addrtime-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 770px;
}

.addrtime-block-col {
  width: 655px;
  height: 603px;
}

.addrtime-block-col .section-desc {
  margin-top: 26px;
  margin-bottom: 50px;
  margin-left: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

label {
  color: #666;
  font-family: 'Arial';
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  font-style: italic;
}

input,
textarea {
  font-family: 'Arial';
  border: 1px solid #d6d6d6;
  background-color: transparent;
  padding-left: 10px;
}

input:focus,
textarea:focus {
  border: 1px solid #c59d5f;
}

.input-size {
  width: 314px;
  height: 46px;
}

.form-group {
  margin-bottom: 25px;
}

.form-group:nth-child(5),
.form-group:nth-child(6) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.input_address {
  width: 100%;
  height: 46px;
}

textarea {
  width: 100%;
  height: 93px;
  padding-top: 10px;
}

.order-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 457px;
  height: 603px;
  background-color: #262626;
  margin: 0 0 0 30px;
}

.order-block__inner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 403px;
  height: 542px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: auto;
  padding: 10px 0 10px 0;
}

.inner-block__title,
.inner-block__title span {
  color: #c59d5f;
  font-size: 31px;
  font-weight: 800;
  line-height: 20.91px;
  text-transform: uppercase;
}

.inner-block__title span,
.inner-block__title span span {
  color: #fff;
}

.inner-block__order-list {
  width: 355px;
  max-height: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: auto;
}

.inner-block__sum,
.inner-block__sum span {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.inner-block__sum span,
.inner-block__sum span span {
  font-size: 32px;
  color: #c59d5f;
}

.inner-block__sum p,
.inner-block__sum span p {
  font-size: 24px;
  display: inline-block;
  text-transform: none;
}

.order-block__btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
}

.fa-times {
  font-size: 12px;
  margin-right: 5px;
}

.order-block__bnt-reset {
  display: inline-block;
  width: 165px;
  max-height: 46px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  background-color: transparent;
  text-align: center;
  line-height: 46px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.45;
  -webkit-transition: .2s;
  transition: .2s;
  text-decoration: underline;
  /* FOOTER */
}

.order-block__bnt-reset:hover {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: .2s;
  transition: .2s;
}

.footer {
  position: relative;
  height: 435px;
  background: url("../img/footer/bg.jpg") no-repeat center center/cover;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 83px 0 0 0;
}

.footer-container__block-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-contacts__title,
.order-nav-block__title,
.inst-block__title,
.social-block__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.block-contacts__desc {
  display: inline-block;
  width: 226px;
  opacity: 0.25;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 22px 0 40px 0;
}

.block-contacts__email {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: underline;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: .8;
}

.block-contacts__email:hover {
  color: #c8c8c8;
}

.block-contacts__phone {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: .8;
  margin: 5px 0 16px 0;
}

.block-contacts__phone:hover {
  color: #c8c8c8;
}

.block-contacts__addr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
}

.footer-container__block-contacts .fa-envelope,
.footer-container__block-contacts .fa-phone,
.footer-container__block-contacts .fa-map-marker-alt {
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
}

.footer-container__block-contacts .fa-map-marker-alt {
  display: block;
}

.footer-container__order-nav-block {
  margin-left: 65px;
}

.footer-container__inst-block {
  margin-left: 95px;
}

.nav__list--footer-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px 0 28px 0;
}

.nav__item--footer {
  margin-bottom: 15px;
}

.btn--footer {
  width: 180px;
}

.inst-block__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  height: auto;
  margin: 23px 0 0 0;
}

.inst-block__imgs a {
  display: block;
  width: 84px;
  height: 67px;
  padding: 0;
  margin: 0 0 10px 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.inst-block__imgs a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .2s;
  transition: .2s;
}

.inst-block__imgs-item {
  width: 100%;
  height: 100%;
}

.footer-container__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 30px;
}

.soc-link {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.social-block__title {
  margin: 0 0 20px 0;
}

.social-block__links {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.soc-link:hover {
  color: #94774a;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-container__social-block span {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #94774a;
  text-align: center;
  line-height: 27px;
  margin: 0 10px 0 0;
}

.footer-container__social-block .fab {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */